# Игнорировать директорию node_modules
node_modules/

# Игнорировать временные файлы
*.log
*.tmp
*.swp
*.DS_Store

# Игнорировать файлы и директории, которые не должны быть в репозитории
.env
.vscode/
